<!doctype html>
<html lang="en">
<head>

    <title>CloudBag</title>
    <link rel="stylesheet" href="../../public/css/SendToCloudBag.css">
    <%- include('./partials/_header') %>

</head>
<body>
<%- include('./partials/_navbar') %>
<main>
    <iframe id="hiddenFrame" name="hiddenFrame" src="" style="display: none"> test </iframe>
    <form id="FileForm" target="hiddenFrame" method="post" enctype="multipart/form-data">
        <h2 id="FormTitle">Send Files to CloudBag</h2>

        <div class="FileFormFields">
            <label for="BatchName">Folder Name: </label>
            <input type="text" name="BatchName" id="BatchName" required>
        </div>
        <div id="FileInputsDiv">
            <div class="FileFormFields" id="FileInput-1">
                <input type="file" name="File-1" id="File-1" class="File" required>
            </div>
        </div>

        <button type="submit" id="Submit">Send</button>
    </form>
    <div class="FileFormFields">
        <button onclick="AddFileInput()" id="AddNewFile"><img src="../../public/images/plus.png" width="25px"/> Add Another File</button>
    </div>

</main>
<script src="../SendToCloudBag.js"></script>
</body>
</html>