<nav id="NavBar">
    <a href="./home.ejs">
        <img src="../../public/images/logo.png"/>
        <h1>CloudBag</h1>
    </a>

    <a>
        <button id="ChangePass">Change Password</button>
        <button id="LogOut">Logout</button>
    </a>

    <script>
      document.getElementById('LogOut').addEventListener('click', (e) => {
        ipcRenderer.send('logout-event');
      });
      document.getElementById('ChangePass').addEventListener('click', (e) => {
        ipcRenderer.send('change-password')
      })
    </script>
</nav>
