<nav id="NavBar">
    <a href="./home.ejs">
        <img src="../../public/images/logo.png" />
        <h1>CloudBag</h1>
    </a>

    <a href="./login.ejs">
        <button id="LogOut">Logout</button>
    </a>


</nav>
